{{define "chat_messages"}}

<div id="chat_messages" hx-swap-oob="afterbegin" class="h-full flex flex-col-reverse overflow-auto flex-1 p-6 mb-auto">
	{{if .Original}}
	<p>{{.Original}}</p>
	{{end}}

	{{if .Diff}}
	<p>
		{{range .Diff}}{{if eq .Type 0}}{{.Text}}{{ else if eq .Type -1}}<span class="bg-red-200">{{.Text}}</span>{{end}}{{end}}
	</p>
	<p>
		{{range .Diff}}{{if eq .Type 0}}{{.Text}}{{ else if eq .Type 1}}<span class="bg-green-200">{{.Text}}</span>{{end}}{{end}}
	</p>
	{{end}}

</div>

{{end}}